html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  background: radial-gradient(#5B483A, #262425), #211F20;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  width: calc(100% + 80px);
  height: 120px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.header-container {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.logo .logo-title {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo .logo-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #545454;
}

.menu {
  padding-right: 2px;
  padding-bottom: 2px;
}

.menu .menu-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.menu .menu-line {
  font-family: 'Arial';
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.menu .menu-line:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.menu .menu-link {
  position: relative;
  color: #545454;
}

.menu .menu-link::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  background-color: #F1CDB3;
  content: '';
}

.menu .menu-link.active, .menu .menu-link:hover::after, .menu .menu-link.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: color 0.5s, -webkit-transform 0.25s;
  transition: color 0.5s, -webkit-transform 0.25s;
  transition: transform 0.25s, color 0.5s;
  transition: transform 0.25s, color 0.5s, -webkit-transform 0.25s;
  color: #292929;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#our-friends {
  margin: 0 -40px;
  padding: 80px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  background-color: #F6F6F6;
}

#our-friends .title {
  width: 400px;
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

#our-friends .card-wrapper {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
}

#our-friends .card-wrapper .card {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#our-friends .card-wrapper .card:hover {
  background-color: #FFFFFF;
}

#our-friends .card-wrapper .card:hover .btn.pets {
  background-color: #FDDCC4;
}

#our-friends .card-wrapper .card img {
  border-radius: 9px 9px 0 0;
}

#our-friends .card-wrapper .card .pet-name {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

#our-friends .card-wrapper .card .btn.pets {
  width: 187px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #FAFAFA;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#our-friends .card-wrapper .card .btn.pets:hover {
  background: #FDDCC4;
}

#our-friends .card-wrapper .card .btn.pets:active {
  background: #e9b188;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

#our-friends .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#our-friends .navigation .btn-pag {
  width: 52px;
  height: 52px;
  padding-bottom: 1px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background-color: #F6F6F6;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}

#our-friends .navigation .btn-pag.active {
  background-color: #F1CDB3;
}

#our-friends .navigation .btn-pag:hover {
  background-color: #FDDCC4;
}

#our-friends .navigation .btn-pag:active {
  background-color: #fbbf93;
}

#our-friends .navigation .btn-pag.disabled {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

#our-friends .navigation .btn-pag.disabled:hover {
  background-color: #F6F6F6;
}

#our-friends .navigation .btn-pag.disabled:active {
  background-color: #F6F6F6;
}

#footer {
  height: 350px;
  width: calc(100% + 80px);
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 160px;
  background: url("../../assets/images/footer.jpg") no-repeat center/cover;
}

#footer .contacts-wrapper {
  width: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

#footer .contacts-wrapper .title {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  width: 280px;
  color: #FFFFFF;
}

#footer .contacts-wrapper .contacts {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

#footer .contacts-wrapper .contacts .contact-link {
  height: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

#footer .contacts-wrapper .contacts .contact-link:hover {
  color: #F6F6F6;
}

#footer .locations-wrapper {
  width: 302px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

#footer .locations-wrapper .title {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  width: 280px;
  color: #FFFFFF;
}

#footer .locations-wrapper .locations {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

#footer .locations-wrapper .locations .localtion-link {
  height: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

#footer .locations-wrapper .locations .localtion-link:hover {
  color: #F6F6F6;
}

#footer .footer-puppy {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=style.css.map */