.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 40px;
}

$color-primary: #F1CDB3;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;


.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #8b1482; //////////////////temporary
}

.logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  .logo-title {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-primary;
  }
  
  .logo-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }
  
}

.menu {
  padding-right: 2px;
  padding-bottom: 2px;

  .menu-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
  }

  .menu-line {
    font-family: 'Arial';
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
  }

  .menu-link {
    position: relative;
    color: $color-dark-s;

    &::after {
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s;
      background-color: $color-primary;
      content: '';
    }

    &.active,
    &:hover::after,
    &.active::after {
      color: $color-light-s;
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}



