html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  background: radial-gradient(#5B483A, #262425), #211F20;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.logo .logo-title {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo .logo-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.menu {
  padding-right: 2px;
  padding-bottom: 2px;
}

.menu .menu-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.menu .menu-line {
  font-family: 'Arial';
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.menu .menu-line:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.menu .menu-link {
  position: relative;
  color: #CDCDCD;
}

.menu .menu-link::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  background-color: #F1CDB3;
  content: '';
}

.menu .menu-link.active, .menu .menu-link:hover::after, .menu .menu-link.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: color 0.5s, -webkit-transform 0.25s;
  transition: color 0.5s, -webkit-transform 0.25s;
  transition: transform 0.25s, color 0.5s;
  transition: transform 0.25s, color 0.5s, -webkit-transform 0.25s;
  color: #FAFAFA;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.start-screen .start-bkg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 908px;
  width: 100%;
  background: url("../../assets/images/start-screen-background.jpg") no-repeat center/cover;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.start-screen .start-content {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 42px;
}

.start-screen .start-wrapper {
  margin-top: 163px;
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}

.start-screen .start-wrapper .start-title {
  width: 310px;
  height: 114px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.start-screen .start-wrapper .start-text {
  width: 460px;
  height: 72px;
  font-family: 'Arial';
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.start-screen .start-wrapper .btn {
  width: 207px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border-radius: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.start-screen .start-wrapper .btn:hover {
  background: #FDDCC4;
}

.start-screen .start-wrapper .btn:active {
  background: #e9b188;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.start-screen .start-puppy {
  width: 668px;
  height: 728px;
  background: url("../../assets/images/start-screen-puppy.png") no-repeat;
}

.about {
  margin: 0 -40px;
  padding: 80px 215px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  background-color: #FFFFFF;
}

.about .wrapper {
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.about .wrapper .title {
  width: 370px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.about .wrapper .text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

#our-friends {
  margin: 0 -40px;
  padding: 80px 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  background-color: #F6F6F6;
}

#our-friends .title {
  width: 400px;
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

#our-friends .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

#our-friends .slider .btn.arrow-left {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background-color: #F6F6F6;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  background-image: url("../../assets/svg/arrow.svg");
}

#our-friends .slider .btn.arrow-left:hover {
  background-color: #FDDCC4;
}

#our-friends .slider .btn.arrow-left:active {
  background-color: #fbbf93;
}

#our-friends .slider .btn.arrow-right {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background-color: #F6F6F6;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  background-image: url("../../assets/svg/arrow.svg");
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

#our-friends .slider .btn.arrow-right:hover {
  background-color: #FDDCC4;
}

#our-friends .slider .btn.arrow-right:active {
  background-color: #fbbf93;
}

#our-friends .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 90px;
}

#our-friends .card-wrapper .card {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#our-friends .card-wrapper .card:hover {
  background-color: #FFFFFF;
}

#our-friends .card-wrapper .card:hover .btn.pets {
  background-color: #FDDCC4;
}

#our-friends .card-wrapper .card img {
  border-radius: 9px 9px 0 0;
}

#our-friends .card-wrapper .card .pet-name {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

#our-friends .card-wrapper .card .btn.pets {
  width: 187px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #FAFAFA;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#our-friends .card-wrapper .card .btn.pets:hover {
  background: #FDDCC4;
}

#our-friends .card-wrapper .card .btn.pets:active {
  background: #e9b188;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

#our-friends .btn.our-pets {
  width: 261px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border-radius: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#our-friends .btn.our-pets:hover {
  background: #FDDCC4;
}

#our-friends .btn.our-pets:active {
  background: #e9b188;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
/*# sourceMappingURL=style.css.map */