html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow: auto;
  background: radial-gradient(#5B483A, #262425), #211F20;
}

body.lock {
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1280px;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 4px #00000040;
          box-shadow: 0 4px 4px #00000040;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

#header {
  position: fixed;
  padding: 0 40px;
  width: 1280px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

#header .logo {
  z-index: 3;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

#header .logo-title {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

#header .logo-subtitle {
  padding-right: 1px;
  font-family: 'Arial';
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #545454;
}

#header .menu {
  padding-right: 2px;
  padding-bottom: 2px;
}

#header .menu-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

#header .menu-line {
  font-family: 'Arial';
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

#header .menu-line:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

#header .menu-link {
  position: relative;
  color: #545454;
}

#header .menu-link::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  background-color: #F1CDB3;
  content: '';
}

#header .menu-link.active, #header .menu-link:hover::after, #header .menu-link.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: color 0.5s, -webkit-transform 0.25s;
  transition: color 0.5s, -webkit-transform 0.25s;
  transition: transform 0.25s, color 0.5s;
  transition: transform 0.25s, color 0.5s, -webkit-transform 0.25s;
}

#header .dimmer {
  position: absolute;
  z-index: 1;
  display: none;
  top: -30px;
  left: -10px;
  right: -10px;
  height: calc(100vh + 60px);
  background-color: #29292999;
}

#header .burger {
  z-index: 2;
  position: relative;
  display: none;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

#header .burger span {
  width: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#header .burger span,
#header .burger span::before,
#header .burger span::after {
  position: absolute;
  width: 30px;
  height: 2px;
  display: block;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  background-color: #000;
}

#header .burger span::before {
  content: "";
  top: -10px;
  -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.3s 0.3s, -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

#header .burger span::after {
  content: "";
  bottom: -10px;
  -webkit-transition: bottom 0.3s 0.3s, -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.3s 0.3s, -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

#header .burger.active span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#header .burger.active span:before {
  content: "";
  top: 0px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 0.3s, -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 0.3s, transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 0.3s, transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#header .burger.active span:after {
  content: "";
  bottom: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 0.3s, -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 0.3s, transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 0.3s, transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media screen and (max-width: 767px) {
  #header .burger {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #header {
    width: calc(100% + 60px);
    width: 100%;
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  #header {
    padding: 0 10px;
    padding-right: 60px;
    width: calc(100% + 20px);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 42px;
  }
  #header .logo.menu-open .logo-title {
    color: #F1CDB3;
  }
  #header .logo.menu-open .logo-subtitle {
    color: #FFFFFF;
  }
  #header .menu-list {
    z-index: 2;
    position: absolute;
    top: 0;
    right: -330px;
    padding-top: 251px;
    width: 320px;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    background-color: #292929;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }
  #header .menu-list.active {
    right: 10px;
  }
  #header .menu-line {
    font-size: 32px;
    line-height: 160%;
  }
  #header .menu-link {
    color: #FAFAFA;
  }
  #header .dimmer.active {
    display: block;
    cursor: pointer;
  }
  #header .burger.active {
    z-index: 2;
    position: relative;
    display: none;
    width: 30px;
    height: 22px;
    cursor: pointer;
  }
  #header .burger.active span {
    width: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #header .burger.active span,
  #header .burger.active span::before,
  #header .burger.active span::after {
    position: absolute;
    width: 30px;
    height: 2px;
    display: block;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    background-color: #F1CDB3;
  }
  #header .burger.active span::before {
    content: "";
    top: -10px;
    -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s 0.3s, -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  #header .burger.active span::after {
    content: "";
    bottom: -10px;
    -webkit-transition: bottom 0.3s 0.3s, -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s 0.3s, -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  #header .burger.active.active span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #header .burger.active.active span:before {
    content: "";
    top: 0px;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 0.3s, -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 0.3s, transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 0.3s, transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #header .burger.active.active span:after {
    content: "";
    bottom: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 0.3s, -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 0.3s, transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 0.3s, transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  #header .burger.active {
    display: block;
  }
}

.main {
  padding-top: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

#our-friends {
  margin: 0 -40px;
  padding: 80px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  background-color: #F6F6F6;
}

#our-friends .title {
  width: 400px;
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

#our-friends .card-wrapper {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
}

#our-friends .card {
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#our-friends .card:hover {
  background-color: #FFFFFF;
}

#our-friends .card:hover .btn.pets {
  background-color: #FDDCC4;
}

#our-friends .card img {
  border-radius: 9px 9px 0 0;
}

#our-friends .card .pet-name {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

#our-friends .card .btn.pets {
  width: 187px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #FAFAFA;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#our-friends .card .btn.pets:hover {
  background: #FDDCC4;
}

#our-friends .card .btn.pets:active {
  background: #e9b188;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

#our-friends .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#our-friends .btn-pag {
  width: 52px;
  height: 52px;
  padding-bottom: 1px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background-color: #F6F6F6;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: inherit;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}

#our-friends .btn-pag.active {
  background-color: #F1CDB3;
}

#our-friends .btn-pag.ready:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

#our-friends .btn-pag.ready:active {
  background-color: #fbbf93;
  cursor: pointer;
}

#our-friends .btn-pag.disabled {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  cursor: inherit;
}

#our-friends .btn-pag.disabled:hover {
  background-color: #F6F6F6;
}

#our-friends .btn-pag.disabled:active {
  background-color: #F6F6F6;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #our-friends {
    margin: 0 -30px;
    padding: 80px 0 70px;
    gap: 30px;
  }
  #our-friends .card-wrapper {
    padding: 0;
    height: 1365px;
    width: 580px;
    overflow: hidden;
  }
  #our-friends .card:nth-last-child(-n+2) {
    display: none;
  }
  #our-friends .navigation {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  #our-friends {
    margin: 0 -10px;
    padding: 42px 0 41px;
    gap: 42px;
  }
  #our-friends .title {
    width: 300px;
    font-size: 25px;
  }
  #our-friends .card-wrapper {
    padding: 0;
    height: 1365px;
    width: 270px;
    overflow: hidden;
  }
  #our-friends .card:nth-last-child(-n+5) {
    display: none;
  }
  #our-friends .navigation {
    gap: 10px;
  }
}

#footer {
  margin: 0 -40px;
  height: 350px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 160px;
  background: url("../../assets/svg/noise_transparent@2x.svg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

#footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 160px;
}

#footer .contacts-wrapper {
  width: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

#footer .title {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  width: 280px;
  color: #FFFFFF;
}

#footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

#footer .contact-link {
  height: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

#footer .contact-link:hover {
  color: #F6F6F6;
}

#footer .locations-wrapper {
  width: 302px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

#footer .locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

#footer .localtion-link {
  height: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

#footer .localtion-link:hover {
  color: #F6F6F6;
}

#footer .footer-puppy {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #footer {
    margin: 0 -30px;
    padding-top: 30px;
    width: calc(100% + 60px);
    height: 640px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 65px;
  }
  #footer .footer-content {
    gap: 60px;
  }
  #footer .footer-puppy {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 767px) {
  #footer {
    margin: 0 -10px;
    padding: 30px 0 0;
    width: calc(100% + 20px);
    height: 809px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 40px;
  }
  #footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  #footer .contacts-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .title {
    width: 270px;
    font-size: 25px;
    text-align: center;
  }
  #footer .contact-link:last-child {
    width: 245px;
    padding-left: 5px;
  }
  #footer .locations-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .localtion-link {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 300px;
  }
  #footer .footer-puppy {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
