@mixin main-title() {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

@mixin btn-primary($width) {
  width: $width;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  background: $color-primary;
  border-radius: 100px;
  transition: all 0.5s;

  &:hover {
    background: $color-primary-light;
  }

  &:active {
    background: darken($color-primary, 10%);
    transform: translateY(1px);
  } 
}

@mixin btn-secondary($width) {
  width: $width;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  background: $color-light-s;
  border-radius: 100px;
  border: 2px solid $color-primary;
  transition: all 0.5s;

  &:hover {
    background:  $color-primary-light;
  }

  &:active {
    background: darken($color-primary, 10%);
    transform: translateY(1px);
  } 
}

@mixin btn-arrow($direction) {

  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: $color-light-1;
  background-position: center;
  background-repeat: no-repeat;
  transition: color 0.5s;

  @if $direction == 'left' {
    background-image: url('../../assets/svg/arrow.svg');
    
  }
  @if $direction == 'right' {
    background-image: url('../../assets/svg/arrow.svg');
    transform: rotate(-180deg);
  }

  &:hover {
    background-color:  $color-primary-light;
  }

  &:active {
    background-color: darken($color-primary-light, 10%);
  } 
}

@mixin btn-paginator() {

  width: 52px;
  height: 52px;
  padding-bottom: 1px;
  border: 2px solid $color-primary;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: $color-light-1;
  background-position: center;
  background-repeat: no-repeat;
  transition: color 0.5s;
  cursor: inherit;

  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;

  &.active {
    background-color:  $color-primary;
  }

  &.ready:hover {
    background-color:  $color-primary-light;
    cursor: pointer;
  }

  &.ready:active {
    background-color: darken($color-primary-light, 10%);
    cursor: pointer;
  } 

  &.disabled {
    color: $color-dark-s;
    border: 2px solid $color-dark-s;
    cursor: inherit;
    &:hover {
      background-color:  $color-light-1;
    }
  
    &:active {
      background-color: $color-light-1;
    } 
  }
}


@mixin footer {
  height: 350px;
  width: calc(100% + 80px);
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
  background: url('../../assets/svg/noise_transparent@2x.svg'), 
      radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

  .contacts-wrapper {
    width: 278px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .title {
      @include main-title();
      width: 280px;
      color: $color-light-xl;
    }

    .contacts {
      margin-bottom: 6px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .contact-link {
        height: 32px;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-primary;
      }

      .contact-link:hover {
        color: $color-light-1;
      }
    }
  }

  .locations-wrapper {
    width: 302px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .title {
      @include main-title();
      width: 280px;
      color: $color-light-xl;
    }

    .locations {
      margin-bottom: 6px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .localtion-link {
        height: 32px;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-primary;
      }

      .localtion-link:hover {
        color: $color-light-1;
      }
    }
  }
  .footer-puppy {
    align-self: flex-end;
  }
}