// media query sizes
$size-media-standart: 1280px;
$size-media-medium: 768px;
$size-media-small: 320px;

// container's sizes
$size-width-standart: 1280px;
$size-padding-top-standart: 60px;
$size-padding-side-standart: 40px;

$size-padding-top-medium: 30px;
$size-padding-side-medium: 30px;

$size-padding-top-small: 30px;
$size-padding-side-small: 10px;


// blocks sizes
$size-header-height: 60px;

// card sizes
$size-card-width: 270px;
$size-card-gap-standart: 90px;