// media query sizes
$size-media-standart: 1280px;
$size-media-medium: 768px;
$size-media-small-1: 375px;
$size-media-small-2: 320px;

// container's padding sizes
$size-padding-top-standart: 60px;
$size-padding-side-standart: 40px;
$size-padding-top-medium: 30px;
$size-padding-side-medium: 30px;

// blocks sizes
$size-header-height: 60px;


