@import "colors";
@import "sizes";
@import "mixins";
@import "media";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  overflow: auto;
  background: radial-gradient(#5B483A, #262425), #211F20;
}

body.lock {
  overflow: hidden;
}

#dimmer {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $color-dark-dimmer;
}

#dimmer.active {
  display: block;
  cursor: pointer;
}

.container {
  position: relative;
  max-width: $size-width-standart;

  min-height: 100vh;
  overflow-x: hidden;

  margin: 0 auto;
  padding: $size-padding-top-standart $size-padding-side-standart 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px #00000040;

  @include screen-medium-standart {
    padding: $size-padding-top-medium $size-padding-side-medium 0;
  }

  @include screen-small-medium {
    padding: $size-padding-top-small $size-padding-side-small 0;
  }
}

#header {
  position: relative;
  width: 100%;
  height: $size-header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    z-index: 3;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 7px;
    cursor: pointer;
  }

  .logo-title {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-primary;
  }
  
  .logo-subtitle {
    padding-right: 1px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }

  .menu {
    padding-bottom: 2px;
  }

  .menu-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
  }

  .menu-line {
    font-family: 'Arial';
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    color: $color-light-s;
    transition: transform 0.25s;

    &:active {
      transform: translateY(1px);
    }
  }

  .menu-link {
    position: relative;
    color: $color-dark-s;
    
    &::after {
      position: absolute;
      left: 0;
      bottom: -7px;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s;
      background-color: $color-primary;
      content: '';
    }

    &.active,
    &:hover::after,
    &.active::after {
      transform: scaleX(1);
      transform-origin: bottom left;
      transition: transform 0.25s, color 0.5s;
      color: $color-light-s;
    }
  }

  .dimmer-menu {
    position: absolute;
    z-index: 1;
    display: none;
    top: (-$size-padding-top-small);
    left: (-$size-padding-side-small);
    right: (-$size-padding-side-small);
    height: 100vh;
    background-color: $color-dark-dimmer;
  }

  .burger {
    @include burger($color: $color-primary);
  }

  @include screen-small-medium {
    justify-content: flex-end;
    gap: 42px;
    padding-right: 42px;

    .menu-list {
      z-index: 2;
      position: absolute;
      top: (-$size-padding-top-small);
      right: (-$size-padding-side-small - $size-media-small);
      padding-top: 161px + $size-header-height + $size-padding-top-small;
      width: $size-media-small;
      height: 100vh;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      background-color: $color-dark-3xl;
      transition: right 0.3s;
      
      &.active {
        right: (-$size-padding-side-small);
      }
    }

    .menu-line {
      font-size: 32px;
      line-height: 160%;
    }

    .dimmer-menu.active {
      display: block;
      cursor: pointer;
    }
  }
}

.main {
  flex: 1 1 auto;
  width: 100%;
}

#start-screen {
  .start-bkg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 908px;
    width: 100%;
    background: url('../../assets/svg/noise_transparent@2x.svg'), 
      radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  }

  .start-content {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 42px;
  }

  .start-wrapper {
    margin-top: 163px;
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  .start-title {
    width: 310px;
    height: 114px;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 44px;
    line-height: 130%;
    color: $color-light-xl;
  }

  .start-text {
    width: 460px;
    height: 72px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
  }

  .btn.start {
    @include btn-primary(207px);
  }

  .start-puppy {
    margin-left: auto;
  }

  @include screen-medium-standart {

    .start-bkg {
      height: 1165px;
    }

    .start-content {
      flex-direction: column;
      justify-content: center;
      gap: 100px;
    }

    .start-wrapper {
      margin-top: 0;
      align-self: center;
    }

    .btn.start {
      align-self: center;
    }
  }

  @include screen-small-medium {

    .start-bkg {
      height: 823px;
    }

    .start-content {
      flex-direction: column;
      justify-content: center;
      gap: 105px;
    }

    .start-wrapper {
      margin-top: 0;
      align-self: center;
      align-items: center;
      width: 300px;
      text-align: center;
    }

    .start-title {
      width: 260px;
      height: auto;
      text-align: center;
      font-size: 25px;
      letter-spacing: 0.06em;
    }

    .start-text {
      width: 300px;
      height: auto;
      text-align: center;
    }
  }
}

#about {
  margin: 0 (-$size-padding-side-standart);
  padding: 80px 0 100px;
  display: flex;
  justify-content: center;
  gap: 120px;
  background-color: $color-light-xl;

  .about-wrapper {
    padding-top: 14px;
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .title {
    width: 370px;
    @include main-title();
  }

  .text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-xl;
  }

  @include screen-medium-standart {
    margin: 0 (-$size-padding-side-medium);
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;

    .about-wrapper {
      padding-top: 0;
    }
  }

  @include screen-small-medium {
    margin: 0 (-$size-padding-side-small);
    padding: 42px 0 42px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 42px;

    .about-wrapper {
      padding-top: 0;
      width: 270px;
      gap: 23px;
      text-align: justify;
    }

    .title {
      width: 270px;
      text-align: center;
      font-size: 25px;
    }
  }
}

#our-friends {
  position: relative;

  margin: 0 (-$size-padding-side-standart);
  padding: 79px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background-color: $color-light-1;

  .title {
    width: 400px;
    text-align: center;
    @include main-title();

    @include screen-small-medium {
      width: 300px;
      font-size: 25px;
    }
  }

  .friends-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
  }

  #btn-left{
    @include btn-arrow($direction: 'left');
  }

  #btn-right {
    @include btn-arrow($direction: 'right');
  }

  .slider-wrapper {
    width: 990px;
    height: 435px;
    overflow: hidden;
  }

  .slider {
    position: relative;
    left: 0;
    display: flex;
  }

  .cards-group {
    display: flex;
    gap: 90px;
  }

  .card {
    @include pet-card;
  }

  .btn.our-pets {
    @include btn-primary(261px);
  }
  
  .transition-left {
    animation-name: move-left;
    animation-duration: 1s;
  }
  
  @keyframes move-left {
    from {left: -990px;}
    to {left: 0px;}
  }

  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
  }

  @keyframes move-right {
    from {left: 0px;}
    to {left: -990px;}
  }

  .popup {
    @include popup;
  }

  @include screen-medium-standart {
    margin: 0 (-$size-padding-side-medium);

    .slider-wrapper {
      width: 580px;
      height: 435px;
    }
    .cards-group {
      gap: 40px;
    }

    .friends-wrapper {
      gap: 12px;
    }

    @keyframes move-left {
      from {left: -580px;}
      to {left: 0px;}
    }
  
    @keyframes move-right {
      from {left: 0px;}
      to {left: -580px;}
    }
  }

  @include screen-small-medium {
    margin: 0 (-$size-padding-side-small);
    padding: 42px 0 42px;
    gap: 41px;

    .slider-wrapper {
      height: 435px;
      width: 270px;
    }

    .friends-wrapper {
      height: 507px;
      flex-direction: column;
      justify-content: start;
      gap: 20px;
    }

    @keyframes move-left {
      from {left: -270px;}
      to {left: 0px;}
    }
  
    @keyframes move-right {
      from {left: 0px;}
      to {left: -270px;}
    }

    #btn-left{
      position: absolute;
      bottom: 0;
      left: 43px;
    }

    #btn-right {
      position: absolute;
      bottom: 0;
      right: 43px;
    }
  }
}

#help {
  margin: 0 (-$size-padding-side-standart);
  padding: 80px 87px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  background-color: $color-light-xl;

  .title {
    width: 310px;
    text-align: center;
    @include main-title();
  }

  .help-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 120px;
  }

  .help-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .item-title {
    font-family: 'Georgia';
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }

  @include screen-medium-standart {
    margin: 0 (-$size-padding-side-medium);
    padding: 80px 0 100px;

    .help-wrapper {
      width: 630px;
      gap: 55px 60px;
    }

    .help-item {
      width: 170px;
    }
  }

  @include screen-small-medium {
    margin: 0 (-$size-padding-side-small);
    padding: 42px 0 42px;
    align-items: center;
    gap: 42px;

    .title {
      width: 270px;
      font-size: 25px;
    }

    .help-wrapper {
      gap: 30px;
      padding: 0 ($size-padding-side-small + 5px);
    }

    .help-item {
      gap: 20px;
      width: 130px;
      height: 87px;
      justify-content: center;
    }

    .item-title {
      font-size: 15px;
      line-height: 110%;
    }

    .item-ico {
      width: 50px;
      height: 50px;
    }
  }
}

#in-addition {
  margin: 0 (-$size-padding-side-standart);
  padding: 80px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: $color-light-1;

  .add-wrapper {
    display: flex;
    width: 380px;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    width: 300px;
    @include main-title();
  }

  .subhead {
    font-family: 'Georgia';
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }

  .credit-card {
    width: 349px;
    height: 43px;
    padding: 10px 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: $color-primary;
    border-radius: 9px;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    transition: all 0.3s;

    &:hover {
      background: $color-primary-light;
    }

    &:active {
      background: darken($color-primary-light, 10%);
      transform: translateY(1px);
    }
  }

  p.legal {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: $color-dark-m;
  }

  @include screen-medium-standart {
    margin: 0 (-$size-padding-side-medium);
    flex-direction: column-reverse;
    align-items: center;
    gap: 59px;
  }

  @include screen-small-medium {
    margin: 0 (-$size-padding-side-small);
    padding: 42px 0 42px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 42px;

    .add-wrapper {
      width: 300px;
      align-items: center;
      gap: 20px;
    }

    .title {
      width: 220px;
      text-align: center;
      font-size: 25px;
    }

    .subhead {
      text-align: center;
      font-size: 15px;
      line-height: 100%;
      line-height: 150%;
      letter-spacing: 0.001em;
    }

    .credit-card {
      width: 281px;
      font-size: 15px;
      line-height: 115%;
    }

    p.legal {
      width: 280px;
      text-align: justify;
    }
  }
}

#footer {
  @include footer;
}