@import "colors";
@import "sizes";
@import "mixins";
@import "media";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow: auto;
  background: radial-gradient(#5B483A, #262425), #211F20;
}

.container {
  position: relative;
  max-width: $size-width-standart;
  margin: 0 auto;
  padding: $size-padding-top-standart $size-padding-side-standart 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px #00000040;

  @include screen-medium-standart {
    padding: $size-padding-top-medium $size-padding-side-medium 0;
  }
}

#header {
  width: 100%;
  height: $size-header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;

  .logo-title {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-primary;
  }
  
  .logo-subtitle {
    padding-right: 1px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }
}

.menu {
  padding-right: 2px;
  padding-bottom: 2px;

  .menu-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
  }

  .menu-line {
    font-family: 'Arial';
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    transition: transform 0.25s;

    &:active {
      transform: translateY(1px);
    }
  }

  .menu-link {
    position: relative;
    color: $color-dark-s;
    
    &::after {
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s;
      background-color: $color-primary;
      content: '';
    }

    &.active,
    &:hover::after,
    &.active::after {
      transform: scaleX(1);
      transform-origin: bottom left;
      transition: transform 0.25s, color 0.5s;
      color: $color-light-s;
    }
  }
}

.main {
  flex: 1 1 auto;
  width: 100%;
}

#start-screen {

  .start-bkg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 908px;
    width: 100%;
    background: url('../../assets/svg/noise_transparent@2x.svg'), 
      radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

    @include screen-medium-standart {
      height: 1165px;
    }
  }

  .start-content {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 42px;

    @include screen-medium-standart {
      flex-direction: column;
      justify-content: center;
      gap: 100px;
    }

  }

  .start-wrapper {
    margin-top: 163px;
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 42px;

    .start-title {
      width: 310px;
      height: 114px;
      font-family: 'Georgia';
      font-style: normal;
      font-size: 44px;
      line-height: 130%;
      color: $color-light-xl;
    }

    .start-text {
      width: 460px;
      height: 72px;
      font-family: 'Arial';
      font-style: normal;
      font-size: 15px;
      line-height: 160%;
      color: $color-dark-s;
    }

    .btn {
      @include btn-primary(207px);
      @include screen-medium-standart {
        align-self: center;
      }
    }

    @include screen-medium-standart {
      margin-top: 0;
      align-self: center;
    }

  }

  .start-puppy {
    margin-left: auto;
  }

}

.about {
  margin: 0 (-$size-padding-side-standart);
  padding: 80px 0 100px;
  display: flex;
  justify-content: center;
  gap: 120px;
  background-color: $color-light-xl;

  .wrapper {
    padding-top: 14px;
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .title {
      width: 370px;
      @include main-title();
    }

    .text {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: $color-dark-xl;
    }

    @include screen-medium-standart {
      padding-top: 0;
    }
  }

  @include screen-medium-standart {
    margin: 0 (-$size-padding-side-medium);
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }

}

#our-friends {
  margin: 0 (-$size-padding-side-standart);
  padding: 79px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background-color: $color-light-1;

  .title {
    width: 400px;
    text-align: center;
    @include main-title();
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;

    .btn.arrow-left {
      @include btn-arrow($direction: 'left');
    }

    .btn.arrow-right {
      @include btn-arrow($direction: 'right');
    }

    @include screen-medium-standart {
      gap: 12px;
    }
  }

  .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;

    .card {
      @include pet-card;
    }

    @include screen-medium-standart {
      width: 580px;
      height: 435px;
      flex-wrap: wrap;
      gap: 40px;
      overflow: hidden;
    }
  }

  .btn.our-pets {
    @include btn-primary(261px);
  }

  @include screen-medium-standart {
    margin: 0 (-$size-padding-side-medium);
  }

}

#help {
  margin: 0 (-$size-padding-side-standart);
  padding: 80px 87px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  background-color: $color-light-xl;

  .title {
    width: 310px;
    text-align: center;
    @include main-title();
  }

  .help-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 55px 120px;

    @include screen-medium-standart {
      width: 630px;
      gap: 55px 60px;
    }
  }

  .help-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    p {
      font-family: 'Georgia';
      font-style: normal;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: $color-dark-l;
    }
    @include screen-medium-standart {
      width: 170px;
    }
  }

  @include screen-medium-standart {
    margin: 0 (-$size-padding-side-medium);
    padding: 80px 0 100px;
  }
}

#in-addition {
  margin: 0 (-$size-padding-side-standart);
  padding: 80px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: $color-light-1;

  .add-wrapper {
    display: flex;
    width: 380px;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    width: 300px;
    @include main-title();
  }

  .subhead {
    font-family: 'Georgia';
    font-style: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }

  .credit-card {
    width: 349px;
    height: 43px;
    padding: 10px 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: $color-primary;
    border-radius: 9px;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    transition: all 0.3s;

    &:hover {
      background: $color-primary-light;
      p.number {
        text-transform: uppercase;
      }
    }

    &:active {
      background: darken($color-primary-light, 10%);
      transform: translateY(1px);
    } 
  }

  p.legal {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: $color-dark-m;
  }

  @include screen-medium-standart {
    margin: 0 (-$size-padding-side-medium);
    flex-direction: column-reverse;
    align-items: center;
    gap: 58px;
  }
}

#footer {
  @include footer;
}